<h1><%= @user.name %></h1>

<p id="notice"><%= notice %></p>

<% unless @currently_updating %>
  <div class="well well-sm">
    <ul>
      <li>
        Total Game Value (Mean): <%= number_to_currency(@user.mean_collection_value) %>
        (<%= number_to_currency(@user.mean_game_price) %> / per game)
      </li>
      <li>
        Total Game Value (Median): <%= number_to_currency(@user.median_collection_value) %>
        (<%= number_to_currency(@user.median_game_price) %> / per game)
      </li>
      <li>Total Games: <%= @user.games.length %></li>
      <li>Games with no price: <%= @user.games_without_prices %> (Never Sold on BGG Market Place)</li>
    </ul>
  </div>

  <button type="button" class="btn btn-default"><%= link_to "Update Games", update_games_user_path %></button>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mean</th>
        <th>Median</th>
      </tr>
    </thead>
    <% @games.each do | game | %>
      <tr>
        <td><%= link_to game.name, game %></td>
        <td><%= number_to_currency(game.mean_price) %></td>
        <td><%= number_to_currency(game.median_price) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <script type="text/JavaScript">
    setTimeout("location.reload(true);", 10000);
  </script>
<% end %>

