<p id="notice"><%= notice %></p>

<h1><%= @game.name %></h1>

<div class="row">
	<div class="col-md-3">
		<%= image_tag(@game.thumbnail) %>
  </div>

  <div class="col-md-9">
  	<table class="table">
			<thead>
		    <tr>
		      <th>Bgg ID</th>
		      <th>Mean Price</th>
		      <th>Median Price</th>
		      <th>Last Updated</th>
		    </tr>
		  </thead>
			<tr>
				<td><%= @game.bgg_id %></td>
				<td><%= @game.mean_price %></td>
				<td><%= @game.median_price %></td>
				<td><%= time_ago_in_words(@game.updated_at) %> ago</td>
			</tr>
		</table>
  </div>

  <h3>Historical Prices</h3>
  <div class="col-md-9">
  	<table class="table">
			<thead>
		    <tr>
		      <th>Price</th>
		      <th>Date</th>
		    </tr>
		  </thead>
		  <% @historical_prices.each do |hp| %>
				<tr>
					<td><%= hp.date_sold %></td>
					<td><%= hp.price %></td>
					<td><%= hp.currency %></td>
					<td><%= hp.condition %></td>
				</tr>
			<% end %>
		</table>
  </div>
</div>

<%= link_to "< previous", game_path(@game.id - 1) %> |
<%= link_to "next >", game_path(@game.id + 1) %>





